body{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	background: #2b2e36;
	font-size: 12px;
}
.all{
	width: 1199px;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 100px;
}
.title__title {
	font-size: 36px;
	display: inline-block;
	margin-right: 50px;
}
.title__month{
	margin-left: 50px;
	padding: 15px;
	background: #32363f;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
	color: #39ff08;
}
.title__title_range{
	display: block;
	margin-bottom: 30px;
	margin-top: 30px;
}
.all__open,
.all__close{
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: 200;
	color: #f75757;
	/*text-decoration: underline;*/
	cursor: pointer;
}
.all__open{
	color: #39ff08;
	margin-bottom: 20px;
	margin-top: 5px;
}
.all__open:hover,
.all__close:hover{
	text-decoration: underline;
}
.all__year + .all__year{
	margin-top: 30px;
}
.year__title {
	background: rgb(57 255 8 / 25%);
	/*margin-top: 30px;*/
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}
.year__title_number {
	font-size: 16px;
	font-weight: 700;
}
.year__title_wr {
	display: flex;
	padding-right: 50px;
	position: relative;
}
.year__title_text {
	font-size: 14px;
}
.year__title_total {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(100%, -50%);
	font-size: 18px;
	font-weight: bold;
}
.year__title_arrow {
	font-size: 14px;
	cursor: pointer;
}



.year__wr{
	display: none;
	opacity: 0;
	transition: all 5s ease-out;
}
.year__wr_open{
	opacity: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	transition: all 5s ease-out;
}

.arrow_rotate{
	transform: rotate(180deg);
}

input{
	color: #39ff08;
	background: #2b2e36;
	font-size: 30px;
}

.item{
	background: #32363f;
	margin-top: 10px;
	padding: 10px;
	display: flex;
	align-items: center;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
	width: 23%;
}
.item__title{
	color: #a2bac1;
}

.item__change{
	background: #f75757;
}
.item_month{
	width: 65%;
}
.item_total{
	width: 35%;
	color: #39ff08;
}
.item__title .item_total{
	color: #a2bac1;
}
.choose{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.choose__right{
	background: #32363f;
	padding: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}
.choose__right_month{
	color: #39ff08;
	margin-top: 30px;
	font-size: 30px;
	font-weight: 700;
}




input[type=range] {-webkit-appearance: none; margin: 5.8px 0; background-color: transparent !important;}

input[type=range]:focus {outline: none;}

input[type=range]::-webkit-slider-runnable-track {cursor: pointer; box-shadow: 2.4px 2.4px 6.2px rgba(7, 7, 163, 0.72), 0px 0px 2.4px rgba(8, 8, 187, 0.72); background: #39ff08; border-radius: 21.6px; border: 1px solid rgba(163, 0, 255, 0.79);}

input[type=range]::-webkit-slider-thumb {box-shadow: 2.4px 2.4px 9.5px rgba(4, 16, 14, 0.78), 0px 0px 2.4px rgba(9, 36, 32, 0.78); border: 1.8px solid rgba(0, 0, 6, 0.77); border-radius: 28px; background: #39ff08; cursor: pointer; -webkit-appearance: none; margin-top: -7.8px;}

input[type=range]:focus::-webkit-slider-runnable-track {background: #39ff08;}

input[type=range]::-moz-range-track {width: 100%; cursor: pointer; box-shadow: 2.4px 2.4px 6.2px rgba(7, 7, 163, 0.72), 0px 0px 2.4px rgba(8, 8, 187, 0.72); background: #39ff08; border-radius: 21.6px; border: 1px solid rgba(163, 0, 255, 0.79);}

input[type=range]::-moz-range-thumb {box-shadow: 2.4px 2.4px 9.5px rgba(4, 16, 14, 0.78), 0px 0px 2.4px rgba(9, 36, 32, 0.78); border: 1.8px solid rgba(0, 0, 6, 0.77); border-radius: 28px; background: #39ff08; cursor: pointer;}

input[type=range]::-ms-track {width: 100%; cursor: pointer; background: transparent; border-color: transparent; color: transparent;}

input[type=range]::-ms-fill-lower {background: #39ff08; border: 1px solid rgba(163, 0, 255, 0.79); border-radius: 43.2px; box-shadow: 2.4px 2.4px 6.2px rgba(7, 7, 163, 0.72), 0px 0px 2.4px rgba(8, 8, 187, 0.72);}

input[type=range]::-ms-fill-upper {background: #39ff08; border: 1px solid rgba(163, 0, 255, 0.79); border-radius: 43.2px; box-shadow: 2.4px 2.4px 6.2px rgba(7, 7, 163, 0.72), 0px 0px 2.4px rgba(8, 8, 187, 0.72);}

input[type=range]::-ms-thumb {box-shadow: 2.4px 2.4px 9.5px rgba(4, 16, 14, 0.78), 0px 0px 2.4px rgba(9, 36, 32, 0.78); border: 1.8px solid rgba(0, 0, 6, 0.77); border-radius: 28px; background: #39ff08; cursor: pointer;}

input[type=range]:focus::-ms-fill-lower {background: #39ff08;}

input[type=range]:focus::-ms-fill-upper {background: #39ff08;}

/* Track */
input[type=range]::-webkit-slider-runnable-track {height: 6.4px;}
input[type=range]::-moz-range-track {height: 6.4px;}
input[type=range]::-ms-track {height: 6.4px;}

/* Thumb */
input[type=range]::-webkit-slider-thumb {height: 20px; width: 8px;}
input[type=range]::-moz-range-thumb {height: 20px; width: 8px;}
input[type=range]::-ms-thumb {height: 20px; width: 8px;